<h3 id="top_navbar"><a href="/home">Splattr!</a></h3>

<form action="/create" method="post">
  <input class="posting" id="post" type="textarea" name="body" placeholder="What are you thinking?">
  <input id="button" type="submit" value="Post!">
</form>
