
<div class="container">

  <h1>Welcome to Splattr!</h1>
  <h4>Login here!</h4>
  <form class="posting" action='/login' method="post">
  <input type="email" name="email" placeholder="Your e-mail" required><br><br>
   <input type="password" name="password" placeholder="Your password" required><br><br>
   <input type="submit" value="Login">
  </form>
  <p>
    <a href="/signup">Not a user? Register!</a>
  </p>
</div>

