<div class="container">
  <h1>Let's Register!</h1>
  <form class="posting" action="/" method="post">
   <input type="email" name="email" placeholder="Your e-mail" required><br><br>
   <input type="text" name="username" placeholder="Your username" required><br><br>
   <input type="password" name="password" placeholder="Your password" required><br><br>
   <input type="submit" value="register">
  </form>
</div>
